+++
title = "Cloud Study Resources"
linkTitle = "CSR"

+++

{{< blocks/cover title="Welcome to the Cloud Study Resource site." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		See all the docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Making our memory more reliable. One commit at a time.!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/kcollasarundell/cloud-study/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow one of us on Twitter!" url="https://twitter.com/0xbanana" %}}
{{% /blocks/feature %}}


{{< /blocks/section >}}